# Formatos de audio para teste
*.mp3
*.wav
*.flac
*.ogg

# Local para as bibliotecas vendorizadas
# /vendor
# /.vendor

# Pastas para desenvolvimento local
/.env
/env
/.tmp
/tmp

* .idea

# ARQUIVOS RELACIONADOS AO ZIG
# ----------------------------

/zig-cache
/zig-out

# GITIGNORE COMUM PARA PROJETOS EM C
# ----------------------------------

# Valgrind output
/valgrind-out 

# Vgcore files
/vgcore.*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Binnary output files
spinning-heart
main


# Arquivos binários gerados pelo GCC e Clang
*.out
*.exe
*.o

# Diretórios de cache do xmake
.xmake/linux/x86_64/cache
.xmake/ui.log
.xmake/linux/x86_64/tmp

# Diretório de saida do xmake
build

# arquivo do vscode
.vscode/settings.json