/zig-cache
/zig-out
# valgrind output
/valgrind-out 
# vgcore files
/vgcore.*
# formatos de audio .mp3, .wav, .flac, etc
*.mp3
*.wav
*.flac
*.ogg

*.o

# Pastas com as bibliotecas já vendorizadas pro ambiente de desenvolvimento do
# usuário, o conteúdo delas pode diferenciar entre alguém que está trabalhando
# num Windows e outro num Linux, por exemplo.
#/vendor
#/.vendor
